<%= form_with(model: @post) do |form| %>
  <% if @post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% @post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container post">
    <div class="children">
      <%= form.text_area :body, size: "60x10", minlength: "2", maxlength: "300", value: nil, placeholder: "Share your thoughts" %><br>
      <%= form.submit "Post", :class => 'button is-black fluid' %>
    </div>
  </div>
<% end %>
